html,
body {
    margin: 0;
    padding: 0;
}

h1,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#main {
    background: url("light1.jpg")no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
}

#contents {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    color: rgb(235, 224, 224);
    text-align: center;
}

#contents h1 {
    font-size: 130px;
    margin-bottom: 5px;
    font-family: 'Dancing Script', cursive;
    letter-spacing: 15px;
}

#contents p {
    font-size: 65px;
    margin-top: 5%;
    letter-spacing: 3px;
}

.nav {
    height: 45px;
    border-bottom: 0px solid rgb(250, 249, 249);
    display: flex;
    align-item: center;
}

.nav-company-name {
    display: flex;
    margin-left: auto;
    font-size: 23px;
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'Questrial', sans-serif;
    color: whitesmoke;
}

.nav-right-items {
    display: flex;
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Questrial', sans-serif;
    color: whitesmoke
}

@media(max-width:769px) {
    #contents h1 {
        font-size: 50px;
    }
    #contents p {
        font-size: 20;
    }
    #contents a {
        font-size: 14px;
    }
}