html,
body {
    margin: 0;
    padding: 0;
}

h1,
p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

#main {
    background: url("https://pixabay.com/get/53e5dc464c5ba514f6d1867dda293f7b173edbec574c704f752e7fd39345c25b_1920.jpg")no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100vw;
    height: 100vh;
    font-family: 'Questrial', sans-serif;
}

#contents {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    color: rgb(241, 110, 110);
    text-align: center;
}

#contents h1 {
    font-size: 60px;
    margin-bottom: 15px;
}

#contents p {
    font-size: 45px;
}

#contents a {
    display: inline-block;
    border: 1px solid red;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    color: red;
}

.nav {
    height: 45px;
    border-bottom: 0px solid rgb(126, 57, 11);
    display: flex;
    align-item: center;
}

.nav-company-name {
    display: flex;
    margin-left: auto;
    font-size: 23px;
    margin-left: 20px;
    margin-top: 25px;
    font-family: 'Questrial', sans-serif;
    color: whitesmoke;
}

.nav-right-items {
    display: flex;
    margin-left: auto;
}

.nav-item {
    margin-right: 20px;
    font-size: 17px;
    margin-top: 25px;
    font-family: 'Questrial', sans-serif;
    color: whitesmoke
}

@media(max-width:769px) {
    #contents h1 {
        font-size: 50px;
    }
    #contents p {
        font-size: 20;
    }
    #contents a {
        font-size: 14px;
    }
}